{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
<div class="container">
	</br>
	<div class="row">
	    {% for message in app.session.flashbag.get('error') %}
            <div class="row">
                <div class="col s12 light-red white-text"><h4>{{ message }}</h4></div>
            </div>
        {% endfor %}
	</div>
    <div class="section">
		{% for article in articles %}
				<ul>
					<li>
					{{ article.title}}
					</li>
					<li>
						{{ article.content }}
					</li>
					<li>
						Ajouté le {{ article.date|date("d/m/Y") }} paru dans la catégorie: {{ article.category.name }}
					</li>
					<li>
						Tags:{% for tag in article.tags %} {{ tag }} {% endfor %}
					</li>
				</ul>
				<div class="row">
					<div class="col s2"><a href="{{ path('show_article', {'id': article.id}) }}">Voir l'article</a></div>
					{% if app.user %}
						<div class="col s2 "><a class="red-text" href="{{ path('delete_article', {'id': article.id}) }}">Supprimer l'article</a>
						</div>
					{% endif %}
				</div>
				<div class="divider"></div>
		{% endfor %}
	</div>
</div>
{% endblock %}