{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
<div class="container">
	</br>
	<div class="row">
	    {% for message in app.session.flashbag.get('error') %}
            <div class="row">
                <div class="col s12 light-red white-text"><h4>{{ message }}</h4></div>
            </div>
        {% endfor %}
	</div>
    <div class="section">
    	<center><h1>ACTUALITES DU {{ "now"|date('d/m/Y') }}</h1></center>
<!-- ARTICLE RECENT -->
		{% if articles == null %}
		<div class="row">
			<h3 class="col s6">Il n'y actuellement pas d'article dans cette catégorie</h3>
		</div>
		{% else %}
			{% for article in articles %}
				{% if article.date|date("Ymd") == "now"|date('Ymd') %}
					<div class="row">
							<h3 class="col s6">{{ article.title}}</h3>
					</div>
						<div class="row">
							{{ article.content }}
						</div>
					<div class="row">
						<div class="col s4">
							<i>Ajouté le {{ article.date|date("d/m/Y") }} paru dans la catégorie: {{ article.category.name }}</i>
						</div>
						<div class="col s4">
							Tags:{% for tag in article.tags %} #{{ tag }} {% endfor %}
						</div>
						<div class="col s4">
							<i> Nombre de commentaires: {{ getComments(article.id)|length}}</i>
						</div>
					</div>
					<div class="row">
						<div class="col s2"><a href="{{ path('show_article', {'id': article.id}) }}">Voir l'article</a></div>
						{% if app.user %}
							<div class="col s2 "><a class="red-text" href="{{ path('delete_article', {'id': article.id}) }}">Supprimer l'article</a>
							</div>
						{% endif %}
					</div>
				{% endif %}
					<div class="divider"></div>
			{% endfor %}
		{% endif %}
<!-- ARTICLE ANCIEN -->
    	<div class="row">
			<h2 class="col s12 grey-text">Anciens articles</h2>
		</div>
		{% if articles == null %}
			<h5 class="col s6">Il n'y actuellement pas d'articles dans cette catégorie</h5>
		{% else %}
			{% for article in articles %}
				{% if article.date|date("Ymd") < "now"|date('Ymd') %}
						<div class="row">
							<h3 class="col s6">{{ article.title}}</h3>
						</div>
						<div class="row">
							{{ article.content }}
						</div>
						<div class="row">
							<div class="col s4">
								<i>Ajouté le {{ article.date|date("d/m/Y") }} paru dans la catégorie: {{ article.category.name }}</i>
							</div>
							<div class="col s4">
								Tags:{% for tag in article.tags %} #{{ tag }} {% endfor %}
							</div>
							<div class="col s4">
								<i> Nombre de commentaires: {{ getComments(article.id)|length}}</i>
							</div>
						</div>
					<div class="row">
						<div class="col s2"><a href="{{ path('show_article', {'id': article.id}) }}">Voir l'article</a></div>
						{% if app.user %}
							<div class="col s2 "><a class="red-text" href="{{ path('delete_article', {'id': article.id}) }}">Supprimer l'article</a>
							</div>
						{% endif %}
					</div>
				{% endif %}
				<div class="divider"></div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}