{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
<div class="container">
	</br>
	<div class="row">
	    {% for message in app.session.flashbag.get('error') %}
            <div class="row">
                <div class="col s12 light-red white-text"><h4>{{ message }}</h4></div>
            </div>
        {% endfor %}
	</div>
    <div class="section">
    	<center><h1>ACTUALITES DU {{ "now"|date('d/m/Y') }}</h1></center>
<!-- ARTICLE RECENT -->
		{% for article in articles %}
			<div class="row">
				<h3 class="col s6"><a class="black-text" href="{{ path('show_article', {'id': article.id}) }}">{{ article.title}}</h3></a>
			</div>
			<div class="row">
				<div class="col s10">{{ article.content }}</div>
			</div>
			<div class="row">
				<div class="col s4">
					<i>Ajouté le {{ article.date|date("d/m/Y") }} paru dans la catégorie:<a href="{{ path('show_article_category', {'id': article.category.id}) }}"> {{ article.category.name }}</a></i>
				</div>
				<div class="col s4">
					Tags:{% for tag in article.tags %} #{{ tag }} {% endfor %}
				</div>
				<div class="col s4">
					<i> Nombre de commentaires: {{ getComments(article.id)|length}}</i>
				</div>
			</div>
			<div class="row">
				<div class="col s2"><a href="{{ path('show_article', {'id': article.id}) }}">Voir l'article</a></div>
				{% if app.user %}
					<div class="col s2 "><a class="red-text" href="{{ path('delete_article', {'id': article.id}) }}">Supprimer l'article</a>
					</div>
				{% endif %}
				{% if app.user %}
					<div class="col s2 "><a class="green-text" href="{{ path('edit_article', {'id': article.id}) }}">Modifier l'article</a>
					</div>
				{% endif %}
			</div>
			<div class="divider"></div>
		{% endfor %}
	</div>
</div>
{% endblock %}