{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
      	<div class="col s3 #e57373 red lighten-4">
		     	<div class="col s12 #e57373 red lighten-3">
			        <h5>{{ Article.title}}</h5>
			        <div class="divider"></div>
			   	</div>
			    <div class="col s12 #e57373 red lighten-3">
			    	Créé le :{{ Article.date|date("d/m/Y") }}
			    </div>
		</div>
	    <div class="col s9 #e0e0e0 grey lighten-1">
		    <div class="col s12 #e0e0e0 grey lighten-2">
		    	<p>{{ Article.content }}</p>
		    </div>
	    </div>
    </div>
    <div class="divider"></div>
	<div class="row">
		<h3>Ajouter un commentaire</h3>
		{{ form_start(formComment) }}
			<div class="row">
			    <div class="input-field col s2">
					{{ form_row(formComment.author) }}
				</div>
				<div class="input-field col s6">
					{{ form_row(formComment.content) }}
				</div>
				<div class="input-field col s1">
					{{ form_row(formComment.Ajouter) }}
				</div>
			</div>
		{{ form_end(formComment) }}
	</div>
	<div class="divider"></div>
	<div class="section">
		{% for Comment in Comments %}
		<h5>{{ Comment.Author }} a écrit le {{ Comment.date|date("d/m/Y")}}</h5>
		<div class="row">
	      	<div class="col s8 #e57373 grey lighten-4">
	      		<p>{{ Comment.Content }}</p>
	      	</div>
      	</div>
		{% endfor %}
	</div>
</div>
{% endblock %}