{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
<div class="container">
	</br>
	<div class="row">
	    {% for message in app.session.flashbag.get('success') %}
            <div class="row">
                <div class="col s12 light-green white-text"><h4>{{ message }}</h4></div>
            </div>
        {% endfor %}
	</div>
	<h1>Ajouter un article</h1>
	<div class="row">
		{{ form_start(formArticle) }}
			<div class="row">
			    <div class="input-field col s6">
					{{ form_row(formArticle.title) }}
				</div>
				<div class="input-field col s12">
					{{ form_row(formArticle.content) }}
				</div>				
				<div class="input-field col s6">
					{{ form_row(formArticle.category) }}
				</div>
				<div>
					<ul>
	        		{% for tag in formArticle.tags %}
	            		<li>{{ form_row(tag.name) }}</li>
	        		{% endfor %}
	    			</ul>
    			</div>
			</div>
		{{ form_end(formArticle) }}
	</div>

	<div class="row">
		{{ form_start(formCategory) }}
			    <div class=" col s6">
			    	<h3>Ajouter une catégorie</h3>
					{{ form_row(formCategory.name) }}
					{{ form_row(formCategory.Ajouter) }}
				</div>
		{{ form_end(formCategory) }}
		{{ form_start(formTag) }}
			    <div class="col s6">
			    	<h3>Ajouter un Tag</h3>
					{{ form_row(formTag.name) }}
					{{ form_row(formTag.Ajouter) }}
				</div>
		{{ form_end(formTag) }}
	</div>
</div>

{% endblock %}

